<div>
    <h1>Fetching data from JSON</h1>
    <ng-container *ngIf="jsonData$ | async as data; else loading">
        <table>
            <thead>
                <tr>
                    <th>categories</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categories of data">
                    <td>{{categories}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <ng-template #loading>
        <p>LoadingData...</p>
    </ng-template>
</div>